/* navbar */

.navbar-display-flex-items{
    justify-content: space-around;
    align-items: center;
    width: 100px;
}
.navBar-hijos{
    list-style: none;
    text-decoration: none;
    color: #ffff;
}
.navBar-hijos:hover{
  color: #ffff;
}
.navbar-display-flex-items{
  width: 12rem;
}
/* CARD */
.tamanoImagenCard{
  height: 100%;
  width: 100%;
}

